---
import '../styles/global.css';
import Social from '../components/Social.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>DrewR</title>
	</head>
	<body>
		<h1>Drew Rautenberg</h1>
		<p>Curently working in the AV indestry I enjoy programing for work and fun.</p>
		<Social />
	</body>
</html>
