---
import { Image } from 'astro:assets';
import twitter from '../assets/twitter.svg';
import instagram from '../assets/Instagram_Glyph_White.svg';
import github from '../assets/github-mark-white.svg';
---
<social>
    <h2>Social Things</h2>
    <a href="https://twitter.com/drewrautenberg"><Image class="socialIcon" src={twitter} width="30" height="30" alt=""/></a>
    <a href="https://instagram.com/drewrautenberg"><Image class="socialIcon" src={instagram} width="30" height="30" alt=""/></a>
    <a href="https://github.com/drewrautenberg"><Image class="socialIcon" src={github} width="30" height="30" alt=""/></a>
</social>