---
import { Image } from 'astro:assets';
import twitter from '../assets/twitter.svg';
import instagram from '../assets/Instagram_Glyph_White.svg';
import github from '../assets/github-mark-white.svg';
---
<social>
    <h3>Social Things</h3>
    <a href="https://twitter.com/drewrautenberg"><Image class="socialIcon" src={twitter} alt=""/></a>
    <a href="https://instagram.com/drewrautenberg"><Image class="socialIcon" src={instagram} alt=""/></a>
    <a href="https://github.com/drewrautenberg"><Image class="socialIcon" src={github} alt=""/></a>
</social>